* {
  box-sizing: border-box;
}
body {
  padding: 20px;
  /* TODO Add dark mode styles here. */
  background-color: black;
  color: #07f226;
  p{
    background-color: rgb(7, 7, 7);
  }
  h1{
    background-color: rgb(223, 16, 16);
  }
  b{
    background-color: aqua;
  }
}

.light-mode {
  /* TODO Add light mode styles here. */
  background-color: rgb(243, 137, 50);
  color: rgb(224, 0, 0);
}

.center {
  width: 940px;
  padding: 20px;
  border: 1px dotted rgb(202, 255, 10);
  margin-right:auto ;
  margin-left: auto;
  /* TODO Add margins to center. */
}
.poem {
  text-align: center;
}

footer {
  /* TODO Add styles */
  height: 220px;
  background-image: url(../images/AAAAAANNNNNNNNNGGGGGG.jpg);
  background-color: rgb(116, 187, 249);
}

.light-mode footer {
  /* TODO Add footer light mode styles here. */
  background-color: aqua;
}

#counter{
  background-color: rgb(39, 59, 76);
  font-size: 24px;
}

button{
  min-width: 40px;
  min-height: 20px;
  margin: 2px;
}
#cauculater{
  display: inline-block;
  background-image: url(../images/speed.webp);
  background-color: blue;
  border-width: 5px;
  border-color: #07f226;
  border-style: outset;
  min-width: 200px;
  max-width: 400px;
}